* @Patina-Network/infra

# allow codebloom team to update image & app properties as needed w/o approval from infra team
base/infrastructure/production-standup-bot/codebloom/kustomization.yaml @Patina-Network/codebloom
base/infrastructure/production/codebloom/kustomization.yaml @Patina-Network/codebloom
base/infrastructure/production/codebloom/application-prod.yaml @Patina-Network/codebloom
base/infrastructure/staging/codebloom/kustomization.yaml @Patina-Network/codebloom
base/infrastructure/staging/codebloom/application-stg.yaml @Patina-Network/codebloom

CODEOWNERS @Patina-Network/admin
